{% extends "base.html.twig" %}

{% block title %}
    Cadastro de Característica
{% endblock %}

{% block body %}
    <h1>Cadastrar Característica</h1>
    <hr>
    {% include "caracteristica/_form.html.twig" %}
{% endblock %}