{% extends "base.html.twig" %}

{% block title %}
    Listagem de Categorias
{% endblock %}


{% block body %}

    <h1>Categorias da Loja</h1>
    <hr>

    <table class="table table-striped table-hover mt-3">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>

        {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nome }}</td>
                <td>{{ categoria.descricao }}</td>
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('loja_produto_categoria', {'id': categoria.id}) }}"><i class="fa fa-play"></i>&nbsp;Ver Produtos</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}