
{% extends "base.html.twig" %}

{% block title %}
    Edição de Categoria
{% endblock %}

{% block body %}
    <h1>Edição de Categoria - <small>{{ categoria.nome }}</small></h1>
    <hr>
    {% include "categoria/_form.html.twig" %}
{% endblock %}